#!/bin/bash
#BSUB -n 1                 #each  job run on 28 core
#BSUB -W 24:00            #job run 336 hour
#BSUB -J replace
#BSUB -o /data/gpfs01/ccwang/kongyangzhu/logfile        #lsf output file
#BSUB -e /data/gpfs01/ccwang/kongyangzhu/logfile        #lsf error file


qpAdm -p replace.par > ../result/replace.result

